/*
  COLOR SCHEME OF APP
  http://colorschemedesigner.com/csd-3.5/#3I629ppvvw0w0
*/

/*PRIMARY COLOR*/
.primary {
  background-color: #2F59A7;
}

.primary-1 {
  background-color: #3A527D;
}

.primary-2 {
  background-color: #0F306C;
}

.primary-3 {
  background-color: #628AD3;
}

.primary-4 {
  background-color: #809DD3;
}

/*SECONDARY COLOR A*/
.secondary-a {
  background-color: #622FAA;
}

.secondary-a-1 {
  background-color: #573A80;
}

.secondary-a-2 {
  background-color: #370F6F;
}

.secondary-a-3 {
  background-color: #9161D5;
}

.secondary-a-4 {
  background-color: #A380D5;
}

/*SECONDARY COLOR B*/
.secondary-b {
  background-color: #25B363;
}

.secondary-b-1 {
  background-color: #368659;
}

.secondary-b-2 {
  background-color: #0C7439;
}

.secondary-b-3 {
  background-color: #58D990;
}

.secondary-b-4 {
  background-color: #7AD9A3;
}

/*COMPLEMENTARY COLOR*/
.complementary {
  background-color: #FBB534;
}

.complementary-1 {
  background-color: #BC954C;
}

.complementary-2 {
  background-color: #A37011;
}

.complementary-3 {
  background-color: #FDC866;
}

.complementary-4 {
  background-color: #FDD68F;
}
