/*Colors*/
/*
  COLOR SCHEME OF APP
  http://colorschemedesigner.com/csd-3.5/#3I629ppvvw0w0
*/

/*PRIMARY COLOR*/
.primary {
  background-color: #2F59A7 !important;
}

.primary-1 {
  background-color: #3A527D !important;
}

.primary-2 {
  background-color: #0F306C !important;
}

.primary-3{
-moz-box-shadow: 0 7px 40px -16px #000000;
-webkit-box-shadow: 0 7px 40px -16px #000000;
box-shadow: 0 7px 40px -16px #000000;
}

.primary-3, .primary-3 h1, .primary-3 h1 a{

  background-color: #4a87ee  !important;
  color: #ffffff;
  text-shadow: none;
  text-decoration: none;
  overflow:hidden;
  border: none !important;
}

.primary-3 a.navItem {
  background-color: #4a87ee !important;
  border-color: #4a87ee !important;
}

.availableNow {
  padding: 0 !important;
}

.primary-4 {
  background-color: #829fd4 !important;
}

/*SECONDARY COLOR A*/
.secondary-a {
  background-color: #622FAA !important;
}

.secondary-a-1 {
  background-color: #573A80 !important;
}

.secondary-a-2 {
  background-color: #370F6F !important;
}

.secondary-a-3 {
  background-color: #9161D5 !important;
}

.secondary-a-4 {
  background-color: #A380D5 !important;
}

/*SECONDARY COLOR B*/
.secondary-b {
  background-color: #25B363 !important;
}

.secondary-b-1 {
  background-color: #368659 !important;
}

.secondary-b-2 {
  background-color: #0C7439 !important;
}

.secondary-b-3 {
  background-color: #58D990 !important;
}

.secondary-b-4 {
  background-color: #7AD9A3 !important;
}

/*COMPLEMENTARY COLOR*/
.complementary {
  background-color: #FBB534 !important;
}

.complementary-1 {
  background-color: #BC954C !important;
}

.complementary-2 {
  background-color: #A37011 !important;
}

.complementary-3 {
  background-color: #FDC866 !important;
}

.complementary-4 {
  background-color: #FDD68F !important;
}

/*Main Available Now Page*/
#mainPage {
  padding: 0;
  margin-top: -1px;
}

.ui-content .ui-content {
  padding: 0;
}

#friendsNow {
  margin: 0;
}

/*PANELS*/
div[data-role="panel"] {
  background-color: #dddddd !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*FRIENDS PANEL*/
#rightPanel .ui-panel-inner {
  padding: 0;
  margin-top: -0.5em;
}

#friendsList {
  margin: -9px 0 0 0;
}

#rightPanel .ui-input-search {
  height: 2.65em;
  border-radius: 0;
  border-color: #fff;
}

/*List View Status Coloring*/
.received {
  background-color: #25B363 !important;
  text-shadow: none !important;
  color: white !important;
}

.received:hover {
/*   background: #0C7439 !important; */
}

.failed {
  background-color: #d9534f !important;
  text-shadow: none !important;
  color: white !important;
}

.failed:hover {
/*   background: #d43f3a !important; */
}

.fb {
  background-color: #3B5998 !important;
  text-shadow: none !important;
  color: white !important;
}

.fb:hover {
  background: #2f477d !important;
}

/*START PAGE*/
div[data-role="content"] h1, div[data-role="content"] p {
  text-align: center;
}

#forgotPW {
	position: relative;
    font-size: x-small;
    color: red;
    text-align: right;
}

#invite {
    display: none;
}

#friendSearch {

}

.friendTile {
  padding: 5% 5%;
  border-bottom: 1px solid lightgray;
  border-radius: 15px;
}

/* CREATE ACCOUNT PAGE */
label.error {
  color: red;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 0.5em;
  width: 100%;
  float: none;
}

.cityBG {
  background-image: url(../img/SignInBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.blankBG {
  background-image: url(../img/blankBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@font-face {
  font-family: Channel;
  src: url(../fonts/Channel.ttf)
}

@font-face {
  font-family: Trench;
  src: url(../fonts/trench.otf)
}

.channel {
  font-family: Channel;
}

h1.channel {
  color: white;
}

#create{
	position:absolute;
	bottom: 0%;
	left: 5%;
	right: 5%;
}
/*SIGN IN/ADD ACCOUNT PAGE*/
#googleLogin {
	border: none;
}

#Facebook {
	border: none;
}

#accountButtons {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
    bottom: 5%;
    left: 0%;
	right: 0%;
    width: 90%;
}

#loginForm{
	position:absolute;
	bottom: 3%;
	left: 5%;
	right: 5%;
	
}

/*INVITE FRIENDS PAGE*/

#title{
	font-family: channel;
	display:inline-block;
    text-align:center;
}