/*List View Status Coloring*/
.received {
  background-color: #5cb85c !important;
  text-shadow: none !important;
  color: white !important;
}

.received:hover {
  background: #4cae4c !important;
}

.failed {
  background-color: #d9534f !important;
  text-shadow: none !important;
  color: white !important;
}

.failed:hover {
  background: #d43f3a !important;
}
