<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Corral</title>
    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/ionicMain.css" rel="stylesheet">
    <script src="js/ionic.bundle.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/jquery/jquery-2.1.1.min.js"></script>
    <script src="js/ionicMain.js"></script>
  </head>

  <body ng-controller="MainCtrl">

      <ion-nav-view></ion-nav-view>

    <script id="templates/event-menu.html" type="text/ng-template">
      <ion-side-menus>

        <ion-side-menu-content>
        <ion-nav-bar class="bar-positive"></ion-nav-bar>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-person-stalker" ng-click="refreshRequestsList(); refreshFriendsList(); toggleRight()"></button>
          </ion-nav-buttons>
          <ion-nav-view animation="no-animation" name="menuContent"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left">
          <ion-header-bar align-title="center" class="bar-positive">
            <h1 class="title"></h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <a class="item item-icon-left" href=""><i class="icon ion-person"></i>Profile</a>
              <a class="item item-icon-left" href=""><i class="icon ion-document-text"></i>Accounts</a>
              <a class="item item-icon-left" href="invite.html" menu-close><i class="icon ion-person-add"></i>Add Friends</a>
              <a class="item item-icon-left" href="chooseCalendar.html" menu-close><i class="icon ion-ios7-calendar-outline"></i>Choose Calendar</a>
              <a class="item item-icon-left" ng-click="logout()"><i class="icon ion-log-out"></i>Log Out</a>
            </ul>
          </ion-content>
        </ion-side-menu>

        <ion-side-menu side="right">
          <ion-header-bar align-title="center" class="bar-positive">
            <div class="buttons">
              <button class="button-icon icon ion-android-inbox" ng-class="{true: 'energized', false: 'stable'}[getRightMenu()=='requests']" ng-click="refreshRequestsList(); showRequests();">&nbsp;Requests
              </button>
            </div>
            <h1 class="title"></h1>
            <div class="buttons">
              <button class="button-icon icon ion-ios7-people" ng-class="{true: 'energized', false: 'stable'}[getRightMenu()=='friends']" ng-click="refreshFriendsList(); showFriends();">&nbsp;Friends
              </button>
            </div>
          </ion-header-bar>
          <ion-content>
            <div ng-if="getRightMenu()=='requests'">
              <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refreshRequestsList()">
              </ion-refresher>
              <ion-list can-swipe="true">
                <ion-item class="requestTile" class="item-balanced" ng-repeat="friend in requestsList" item="friend">
                  {{friend.first_name}} {{friend.last_name.substring(0,1).toUpperCase()}}
                  <span class="item-note">
                    <button class="floatBlock button button-small icon ion-checkmark-round balanced" ng-click="acceptRequest(friend)">
                    </button>
                    <p class="floatBlock">&nbsp;</p>
                    <button class="floatBlock button button-small icon ion-close-round assertive" ng-click="denyRequest(friend)">
                    </button>
                  </span>
                </ion-item>
              </ion-list>
            </div>
            <div ng-if="getRightMenu()=='friends'">
              <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refreshFriendsList()">
              </ion-refresher>
              <ion-list can-swipe="true">
                <ion-item class="friendTile" ng-repeat="friend in friendsList" item="friend">
                  {{friend.first_name}} {{friend.last_name.substring(0,1).toUpperCase()}}
                  <ion-option-button class="button button-large icon ion-gear-a" ng-click="editFriend(friend)">
                  </ion-option-button>
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view title="Corral">
        <ion-content>
          <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refreshFriendsNow()">
          </ion-refresher>
          <ion-list>
            <ion-item id="{{'friend'+nowFriend.id}}" class="nowTile" ng-click="clickFriendNow('friend'+nowFriend.id)" ng-repeat="nowFriend in friendsNow"  item="nowFriend">
              <span class="item-note" ng-if="!isActiveNow('friend'+nowFriend.id)">
                Free Time Left
              </span>
              <span class="item-note" ng-if="isActiveNow('friend'+nowFriend.id)">
                <button class="button button-outline icon ion-radio-waves button-balanced" ng-click="nudgeFriend(nowFriend)"></button>
              </span>
              <h2>
                {{nowFriend.first_name}} {{nowFriend.last_name.substring(0,1).toUpperCase()}}
              </h2>
              <p ng-if="isActiveNow('friend'+nowFriend.id)" ng-animate="">
                {{nowFriend.mood}}
              </p>
            </ion-item>
          </ion-list>
        </ion-content>
        <ion-footer-bar class="bar bar-subfooter"> 
          <div class="sideTab">
            <ion-toggle id="invisSet" ng-checked="getInvisibility()" ng-model="invisible" toggle-class="toggle-balanced" ng-click="toggleInvisibility()"></ion-toggle>
          </div>
        </ion-footer-bar>
        <ion-footer-bar class="bar bar-positive item-input-inset"> 
          <label class="item-input-wrapper">
            <i class="icon ion-chatbox placeholder-icon"></i>
            <input id="mood" ng-model="mood" type="text" placeholder="Update your mood">
          </label>
            <button ng-if="mood.length" class="button-icon icon ion-android-close light"
              ng-click="clearMood()">
            </button>
          <button ng-if="mood.length" class="button button-outline icon ion-edit button-light" ng-click="updateMood()"></button>
        </ion-footer-bar>
      </ion-view>
    </script>
  </body>
</html>