<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Corral</title>
    <link href="css/ionic.css" rel="stylesheet">
    <link href="css/ionicMain.css" rel="stylesheet">
    <script src="js/ionic.bundle.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/GCMPlugin.js"></script>
    <script src="js/ionicMain.js"></script>
  </head>

  <body ng-controller="MainCtrl">

      <ion-nav-view></ion-nav-view>

    <script id="templates/event-menu.html" type="text/ng-template">
      <ion-side-menus>

        <ion-side-menu-content>
        <ion-nav-bar class="bar-positive"></ion-nav-bar>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft(); refreshMyInfo()"></button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
            <div class="badge badge-assertive toggleBadge" ng-if="requestsList.length!=0 || nudgesList.length!=0">!</div>
            <button class="button button-icon button-clear ion-person-stalker" ng-click="refreshRequestsList(); refreshNudgesList(); refreshFriendsList(); toggleRight(); refreshMyInfo();"></button>
          </ion-nav-buttons>
          <ion-nav-view animation="no-animation" name="menuContent"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="left">
          <ion-header-bar align-title="center" class="bar-positive">
            <h1 class="title"></h1>
          </ion-header-bar>
          <ion-content class="content slideMenu">
            <ul class="list">
              <a class="item item-icon-left assertive menuTile" href=""><i class="icon ion-person"></i>Profile</a>
              <a class="item item-icon-left menuTile assertive" href=""><i class="icon ion-android-mixer"></i>Schedule</a>
              <a class="item item-icon-left menuTile assertive" href=""><i class="icon ion-document-text"></i>Accounts</a>
              <a class="item item-icon-left menuTile" href="invite.html" menu-close><i class="icon ion-person-add"></i>Add Friends</a>
              <a class="item item-icon-left menuTile" href="chooseCalendar.html" menu-close><i class="icon ion-ios7-calendar-outline"></i>Choose Calendar</a>
              <a class="item item-icon-left menuTile assertive"><i class="icon ion-information"></i>Tutorial</a>
              <a class="item item-icon-left menuTile assertive"><i class="icon ion-settings"></i>Settings</a>
              <a class="item item-icon-left menuTile" ng-click="logout()"><i class="icon ion-log-out"></i>Log Out</a>
            </ul>
            <div id='LeftMenuMessage' class="Trench">
              Ver. 0.10.23.02.54
            </div>
          </ion-content>
        </ion-side-menu>

        <ion-side-menu side="right" width="325">
          <ion-header-bar class="rightHeader bar-positive">
            <div class="buttons">
              <div class="badge badge-assertive requestBadge" ng-if="requestsList.length!=0">{{requestsList.length}}</div>
              <button class="navButton button-icon icon ion-android-inbox" ng-class="{true: 'energized', false: 'stable'}[getRightMenu()=='requests']" ng-click="refreshRequestsList(); showRequests();">&nbsp;Requests
              </button>
            </div>
            <div class="buttons">
              <div class="badge badge-assertive nudgeBadge" ng-if="nudgesList.length!=0">{{nudgessList.length}}</div>
              <button class="navButton button-icon icon ion-chatbubbles" ng-class="{true: 'energized', false: 'stable'}[getRightMenu()=='nudges']" ng-click="refreshNudgesList(); showNudges();">&nbsp;Nudges
              </button>
            </div>
            <div class="buttons">
              <button class="navButton button-icon icon ion-ios7-people" ng-class="{true: 'energized', false: 'stable'}[getRightMenu()=='friends']" ng-click="refreshFriendsList(); showFriends();">&nbsp;Friends
              </button>
            </div>
          </ion-header-bar>
          <ion-header-bar class="searchHead bar" ng-if="getRightMenu()=='friends'">
            <label class="textInput item-input-wrapper">
              <i class="icon ion-search placeholder-icon" ng-class="{true: '',false: 'calm'}[!isSearchFriendEmpty()]"></i>
              <input id="searchFriend" ng-model="searchFriend" type="text" placeholder="Search through friends..." filter="search" value="">
            </label>
            <button ng-if="isSearchFriendEmpty()" class="sizedButton button-icon ion-android-close calm" ng-click="clearSearchFriend();">
            </button>
          </ion-header-bar>
          <ion-content class="content slideMenu" ng-class="{true:'has-subheader',false:''}[getRightMenu()=='friends']">
            <div ng-if="getRightMenu()=='requests'">
              <ion-refresher
                disable-pulling-rotation="true"
                pulling-icon="ion-load-c"
                refreshing-icon="ion-loading-c"
                on-refresh="refreshRequestsList()">
              </ion-refresher>
              <ion-list>
                <div id="emptyRListItem" class="noRequestsBG" ng-if="requestsList.length==0">
                  <div class="emptyItemContainer">
                    <p class="trench">No Requests</p>
                  </div>
                </div>
                <ion-item class="requestTile Trench" ng-repeat="friend in requestsList" item="friend">
                  {{friend.first_name}} {{friend.last_name}}
                  <span class="item-note">
                    <button class="floatBlock button button-small icon ion-checkmark-round balanced" ng-click="acceptRequest(friend);">
                    </button>
                    <p class="floatBlock">&nbsp;</p>
                    <button class="floatBlock button button-small icon ion-close-round assertive" ng-click="denyRequest(friend);">
                    </button>
                  </span>
                </ion-item>
              </ion-list>
            </div>
            <div ng-if="getRightMenu()=='nudges'">
              <ion-refresher
                disable-pulling-rotation="true"
                pulling-icon="ion-load-c"
                refreshing-icon="ion-loading-c"
                on-refresh="refreshNudgesList()">
              </ion-refresher>
              <ion-list>
                <div id="emptyNListItem" class="noNudgesBG"ng-if="nudgesList.length==0">
                <div class="emptyItemContainer">
                  <p class="trench">No Nudges</p>
                </div>
                </div>
                <ion-item class="nudgeTile Trench" ng-repeat="friend in nudgesList" item="friend">
                  {{first_name}} {{last_name}}
                  <p class="Trench">
                    {{message}}
                  </p>
                </ion-item>
              </ion-list>
            </div>
            <div ng-if="getRightMenu()=='friends'">
              <ion-refresher
                disable-pulling-rotation="true"
                pulling-icon="ion-load-c"
                refreshing-icon="ion-loading-c"
                on-refresh="refreshFriendsList()">
              </ion-refresher>
              <ion-list can-swipe="true">
                <div id="emptyFListItem" class="noFriendsBG" ng-if="friendsList.length==0">
                <div class="emptyItemContainer">
                  <p class="trench">No Friends</p>
                </div>
                </div>
                <ion-item class="friendTile Trench" 
                  ng-if="friend.first_name.toLowerCase().indexOf(getSearchFriend().toLowerCase())>=0 || friend.last_name.toLowerCase().indexOf(getSearchFriend().toLowerCase())>=0" 
                  ng-class="{true: 'assertive', false: ''}[friend.favorite==1]" ng-repeat="friend in friendsList" item="friend">
                  {{friend.first_name}} {{friend.last_name}}
                  <ion-option-button class="button button-large icon" ng-class="{true:'ion-ios7-star assertive',false:'ion-ios7-star-outline'}[friend.favorite==1]" ng-click="toggleFavorite(friend)">
                  </ion-option-button>
                  <ion-option-button class="button button-large icon ion-trash-a" ng-click="deleteFriend(friend);">
                  </ion-option-button>
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </script>

    <script id="templates/home.html" type="text/ng-template">
      <ion-view title="Corral">
        <ion-content class="mainContent">
          <ion-refresher
            disable-pulling-rotation="true"
            pulling-icon="ion-load-c"
            refreshing-icon="ion-loading-c"
            on-refresh="refreshMyInfo(); refreshFriendsNow();">
          </ion-refresher>
          <ion-list>
            <div id="emptyNowItem" class="noAvailBG" ng-if="friendsNow==''">
              <div class="emptyNowItemContainer">
                <p class="trench">No Friends Available Now</p>
              </div>
            </div>
            <ion-item id="{{'friend'+nowFriend.id}}" ng-class="{true: 'assertive', false: ''}[nowFriend.favorite==1]" class="nowTile Trench" ng-click="clickFriendNow('friend'+nowFriend.id); listResize();" ng-repeat="nowFriend in friendsNow"  item="nowFriend">
              <span class="item-note Trench" ng-if="!isActiveNow('friend'+nowFriend.id)">
                <i class="timeLeft icon ion-ios7-clock-outline"></i>
                hh:mm
              </span>
              <span class="item-note" ng-if="isActiveNow('friend'+nowFriend.id)">
                <button class="button icon ion-chatbubble button-clear button-outline button-balanced" ng-click="nudgeFriend(nowFriend)"></button>
              </span>
              {{nowFriend.first_name}} {{nowFriend.last_name}}
              <p class="Trench" ng-if="isActiveNow('friend'+nowFriend.id)">
                {{nowFriend.mood}}
              </p>
            </ion-item>
          </ion-list>
        </ion-content>
        <ion-footer-bar class="bar bar-subfooter">
          <div class="sideTab">
            <div id="invisArea">
              <div class="freeSection">
                <button class="button icon ion-eye button-clear" ng-class="{true: 'button-light', false: 'button-dark'}[getInvisibility()!='2']" ng-click="setInvisibility('2');">
                </button>
              </div>
              <div class="calmSection">
                <button class="button icon ion-eye button-clear" ng-class="{true: 'button-light', false: 'button-dark'}[getInvisibility()!='1']" ng-click="setInvisibility('1');">
                </button>
              </div>
              <div class="invisSection">
                <button class="button icon ion-eye-disabled button-clear" ng-class="{true: 'button-light', false: 'button-dark'}[getInvisibility()!='0']" ng-click="setInvisibility('0');">
                </button>
              </div>
            </div>
          </div>
        </ion-footer-bar>
        <ion-footer-bar class="setMoodBar bar">
          <label class="textInput item-input-wrapper">
            <i class="icon ion-chatbox placeholder-icon" ng-class="{true: '',false: 'calm'}[!isMoodSetEmpty()]"></i>
            <input id="mood" ng-model="mood" type="text" placeholder="{{getMyMood()}}">
          </label>
          <button ng-if="isMoodSetEmpty()" class="sizedButton button-icon ion-android-close calm"
            ng-click="clearMood()">
          </button>
          <button ng-class="{true: 'ion-android-close greyButton',false: 'ion-edit balanced'}[!isMoodSetEmpty()]" class="sizedButton button-icon stable" ng-click="updateMood();"></button>
        </ion-footer-bar>
      </ion-view>
    </script>

    <script id="modal.html" type="text/ng-template">
      <div id="nudgeWindow" class="modal" ng-controller="NudgeCtrl">
        <p>Nudge</p>
        <div id="nudgeCard" class="shake" ng-click="nudgeModal.hide();">
        </div>
        <div id="nudgeText">
          <div id="nudgeName">
            {{getFirstNudge().nudger.first_name}} {{getFirstNudge().nudger.last_name}}
          </div>
          <div id="nudgeMessage">
            {{getFirstNudge().message}}
          </div>
        </div>
      </div>
    </script>
  </body>
</html>