<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.corral" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Corral</name>
    <description>
        Helping people get together at anytime with less hassle
    </description>
    <author email="itorres1490@gmail.com" href="http://e-wit.co.uk/correlate/">
        CECS 491 - Team 5
    </author>
	<platform name="android">
              <icon src="www/res/hdpi.png" density="hdpi" />
              <icon src="www/res/mdpi.png" density="mdpi" />
              <icon src="www/res/xhdpi.png" density="xhdpi" />
              <icon src="www/res/xxhdpi.png" density="xxhdpi" />
              <icon src="www/res/xxxhdpi.png" density="xxxhdpi" />
     </platform>
    <content src="start.html" />
    <access origin="*" />
</widget>
